@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
    --font-family: "Rajdhani", sans-serif;

    --border-size-full: 999px;

    /* color palletes */
    --main-white: #fefefe;
    --secondary-white: #f0f8f8;

    --main-yellow: #fcd06e;
    --yellow-shade: #fde3a8;

    --pine-tree: #2d2824;
    --pine-shade: #787777;
    --gray-goose: #d5d0cd;

    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    --cubic-transition: 1.4s cubic-bezier(0.66, 0, 0.34, 1);
}

@layer base {
    @font-face {
        font-family: "ivyPresto";
        font-style: "thin";
        font-weight: 400;
        font-display: swap;
        src: url("./assets/fonts/IvyPrestoDisplay-Thin.woff2") format("woff2");
    }
}

html,
body {
    font-family: var(--font-family);
}

.font-ivyPresto {
    font-family: ivyPresto;
}

.nav-item {
    background-color: transparent;
    border: none;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
}

.nav-item::after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background: #24242a;
    transition: width 0.3s ease-in;
}

.active {
    font-weight: 600;
}

.active::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #24242a;
}

.nav-item:hover::after {
    width: 100%;
}

/* movile toogle */
@media screen and (max-width: 768px) {
    .navbar-toogle {
        display: flex;
        width: 50px;
        height: 50px;

        align-items: center;
        justify-content: center;
        cursor: pointer;

        background: transparent;
        border: none;
    }

    .navbar-toogle .bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: var(--pine-tree);
        border-radius: 2px;
        transition: all 0.5s ease-in-out;
    }

    .bar::before,
    .bar::after {
        content: "";
        position: absolute;
        height: 2px;
        background: var(--pine-tree);
        border-radius: 2px;
        transition: all 0.5s ease-in-out;
    }

    .bar::before {
        width: 25px;
        transform: translateY(-8px);
        right: 0;
    }

    .bar::after {
        width: 32px;
        transform: translateY(8px);
        right: 0;
    }

    .navbar-toogle.open .bar {
        transform: translateX(-40px);
        background: transparent;
    }

    .navbar-toogle.open .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .navbar-toogle.open .bar::after {
        width: 32px;
        transform: rotate(-45deg) translate(26px, 26px);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
